<h1 class="about-heading">About</h1>
<div class="about-main-content">
  <p class="about-main-content-text">
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
  </p>
  <div class="about-main-content-img">
    <%= image_tag "about.png", width: "600px", height: "100%" %></a>
  </div>
</div>

