 <div class="row">
    <div class="col-">
      <h3 class="text-left">ジャンル編集</h3>
    <%= form_with model: @genre,  local:true do |f| %>

      <div class="form-group">
        <%= f.label :ジャンル %>
        <%= f.text_field :genre %>
      </div>

      <div class="form-group">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
