<h2>ジャンル一覧・追加</h2>
<%= render 'new' , genre: @genre %>

  <table class="table">
    <thead>
      <tr>
        ジャンル
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @genres.each do |genre| %>
          <th><%= genre.name %></th>
          <th><%= link_to "編集する", edit_admins_genre_path(genre)%></th>
        <% end %>
      </tr>
    </tbody>
  </table>