<h2>商品一覧</h2>

  <div class = "container">
    <div class = "row">
      <div class = "col-sm-10"><!--"col-md-8 offset-md-1-->
        <div class = "table">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><% product.id %></td>
                <td><% product.name %></td>
                <td><% product.price %></td>
                <td><% product.genre %></td>
                <!--販売ステータスの条件分岐 販売中or販売停止中-->
                <td>
                  <% if product.is_active == true %>販売中
                    <% else %>販売停止中
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbady>
        </div>
      </div>
    </div>
  </div>
