<header>
  <nav>
    <div>
      <h1>ロゴ</h1>
    </div>
    <div>
      <ul>
        <li>About</li>
        <li>商品一覧</li>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
    </div>
  </nav>
</header>